 <div id="descriereContainer class="container text-center>
       <h2 class="descriere">List app</h2>
       <p class="descriere" id="p-descriere">Lists can can be for anything: a to-do list, a grocery list, things to bring camping list.
       As you finish things, you cross them off or you can forget note something. This makes paper lists potentially messy and inefficient. 
       With a list on a computer, we can make crossing off items just a click and we can add or edit them.  </p>
   </div>